<footer class="page-footer">
    <div class="footer-copyright text-center py-3">© 2018 
      <a href="homepage.html">Samaritan Laymen Ministries</a>
    </div>
</footer>
<script src="./jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="./bootstrap.min.js"></script>
</body>
</html>