<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Samaritan Laymen Ministries</title>
</head>
<body>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="site.css">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="homepage.html"><h2>Samaritan Laymen Ministries</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="homepage.html"><h4>Home</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projects.html"><h4>Projects</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacts.html"><h4>Contacts</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="questions.html"><h4>Questions</h4></a>
            </li>
            </ul>
        </div>
    </nav>