[Desktop Entry]
Encoding=UTF-8
Name=Link to The Best of Error 404 Pages
Type=Link
URL=http://www.webdesigndev.com/wp-content/uploads/2010/01/171.jpg
Icon=image-jpeg
