<% include partials/header %>
<section class="container">
    <div class="card-deck ">
        <div class="card col-lg-4" style="width: 18rem;">
             <img class="card-img-top" src="./images/graceFace.JPG" alt="image of grace masaka">
             <div class="card-body">
                <h5 class="card-title">Grace Masaka</h5>
                <p class="card-text">(908) - 343 3022</p>
                <p class="card-text">masakamomadi@aol.com</p>
             </div>
        </div>
        <div class="card col-lg-4" style="width: 18rem;">
             <img class="card-img-top" src="./images/danielFace.JPG" alt="image of daniel masaka">
             <div class="card-body">
                <h5 class="card-title">Daniel Masaka</h5>
                <p class="card-text">(908) - 343 7376</p>
                <p class="card-text">danielmasaka@yahoo.com</p>
             </div>
        </div>
    </div>
</section>
<% include partials/footer %>
