<% include partials/header %>
<section>
    <div class="container">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./images/interesting-1221423_1920.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/massai-land-277226_1920.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/poverty-216527_1920.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/tanzania-278361_1920.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container infoContent">
        <div class="row">
            <div class="col-md-6">
                <h1>Who Are We</h1>
                <p>Christian based ministry. Our foremost goal is Educating, Nurturing and Serving  by God’s grace.  We know if God was to come to us in His majesty and Glory we can do NOTHING to HIM.  But He has clothed Himself in forms of the needy and poor (both physical and spiritual needs). We have this hope that the Lord is coming back again.</p>
                <p>We Understand from the Great book the Bible, the laity and the clergy should work together to serve and share good news to precious people. For the harvest is ready “we should hasten His coming” We believe, educating for skills of this Life and Life eternal are equally important.</p>
            </div>
            <div class="col-md-6">
                <h1>Our Motto</h1>
                <p>We can’t do great things, only little things with great love. What we do is just a drop in the ocean, Lord help us to drop  that with love for we can’t touch Divinity without touching humanity.</p>
            </div>
            <div class="col-md-6">
                <h1>Where We Work</h1>
                <p>We have no borders. We have  participated in many countries including Kenya, Tanzania, Malawi, Congo, Zimbabwe, USA, Brazil, Venezuela, and India.</p>
            </div>
            <div class="col-md-6">
                <h1>Our Funding</h1>
                <p>Up to 50% of  our salaries goes to supporting these projects so far, But we are inviting for whoever is willing to support us in both prayers and financially if possible.</p>
                <p>We have been officially registered since 2003 as a non profitable organization, with tax exempt under section 501c (3). However we have been operating  for 23 years by God’s grace.</p>
            </div>
            <div class="col-12">
                <h1>Some of Our Previous Projects</h1>
                <p>Training layworkers for 4-6 months full time training. 267 have been trained so far.</p>
                <p>Building bush churches (simple shelters) in remote areas. </p>
                <p>At least 86 churches done Educating nurses, pastors, teachers 100 have been sponsored</p>
                <p>Nurturing new believers by buying bibles books, seminars and others</p>
                <p>Media ministry: Participating in TV, Radio, Websites Hudumazawaleikiswahili and APP is our next project.</p>
                <p>Christian Schools-grade 1-4 Christian schools where 2 schools have benefited.</p>
                <p>Uplifting the handicap and poor, by simple projects such as sewing machines, digging wells, building shelters, providing food, fishing projects and farming.</p>
                <p>Clothing and feeding the orphans 100 Tonnes  of clothes, toys, shoes and books  have been shipped to different countries</p>
                <p>Assisting AIDS victims and their relatives with food, funds, education and others</p>
                <p>Evangelistic efforts series for 2 weeks - have been conducted/sponsored</p>
                <p>Vacation Bible school  (VBS) and health lecture series in different countries</p>
                <p>Bread ministry to the need in Jersey/PA has been a blessing. Connecting needy ministries with interested beneficiaries from different walks of life</p>
                <p>Distributing tracts and Literature-Sharing the gospel. Assisting in Prison ministry with literature, funds, clothes, and clergy. Liaison for laymen Ministries in different African Countries</p>
            </div>
        </div>
    </div>
</section>
<% include partials/footer %>
