<% include partials/header %>
<section class="container">
    <div class="card-deck ">
        <div class="card col-lg-4" style="width: 18rem;">
             <img class="card-img-top" src="./images/yourFaceHere.png" alt="Card image cap">
             <div class="card-body">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">Student</p>
                <p class="card-text">Bugema University</p>
                <a href="#" class="btn btn-primary">Learn More</a>
             </div>
        </div>
        <div class="card col-lg-4" style="width: 18rem;">
             <img class="card-img-top" src="./images/yourFaceHere.png" alt="Card image cap">
             <div class="card-body">
                <h5 class="card-title">Mary Jane</h5>
                <p class="card-text">Student</p>
                <p class="card-text">Tazania Union College</p>
                <a href="#" class="btn btn-primary inputButton">Learn More</a>
             </div>
        </div>
    </div>
</section>
<% include partials/footer %>