<% include partials/header %>
<section class="container">
    <form class="navbar-form" role="search">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><span>Search</span></button>
            </div>
        </div>
    </form>
    <section class="container">
    <div class="card">
        <h5 class="card-header">Blog Post</h5>
        <div class="card-body">
            <h5 class="card-title">The Old Testament Prophets</h5>
            <p class="card-text">In the old testament the prophets often had a message that needed...</p>
            <a href="#" class="btn btn-primary">Full Article</a>
        </div>
    </div>
</section>
<% include partials/footer %>